.BasketItemCard {
  display: flex;
  max-height: 8rem;
  width: 50rem;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 25%),
    0 0.5rem 1rem rgb(0 0 0 / 25%);
  background-color: #fff;
  padding: 0 0.5rem;

  &__image {
    padding: 0.25rem;

    h3 {
      text-align: center;
      padding: 0;
      margin: 0;
    }

    img {
      width: 7rem;
    }
  }

  &__quantity,
  &__price {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    button {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 0.5rem;
      background-color: blueviolet;
      color: white;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      font-size: 1.25rem;
      cursor: pointer;

      &:hover {
        background-color: rgb(98, 23, 168);
      }
    }
  }
}